/* GENERALS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Inter Tight', sans-serif;
    background: white;
}

/* UTILITIES */

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: calc(100% / 3)
}

.w-25 {
    width: 25%;
}

.float {
    float: left;
}

.centered {
    text-align: center;
    padding: 40px ;
}

.centered-50 {
    text-align: center;
    padding: 50px;
}

.margin-top {
    margin-top: 60px;
    line-height: 130%;
}


.bgwhite {
    background: white;
}

.btn {
    text-decoration: none;
    border: 1px solid rgb(211, 120, 0);
    padding: 10px;
    border-radius: 5px;
    color:rgb(211, 120, 0);
    margin-right: 0;
    margin-left: 15px;
}

.btn-jumbotron {
    text-decoration: none;
    border: 1px solid rgb(211, 120, 0);
    padding: 10px;
    border-radius: 5px;
    color:rgb(211, 120, 0);
    margin-right: 0;
    
}

.btn-orange {
    background-color: rgb(211, 120, 0);
    color: white;
}

.btn-large {
    padding: 20px;
}

.btn-margintop {
    margin-top: 30px;
}

.btn-grey {
    text-decoration: none;
    border: 1px solid rgb(97, 97, 97);
    padding: 10px;
    border-radius: 5px;
    margin-right: 0;
    background-color: grey;
    color: rgb(64, 64, 64);
    
}

/* DEBUG ELEMENT (REMOVE WHEN FINISHED) */


/* END DEBUG*/
.box {
    width: 100%;
    height: 100px;
    background: rgba(155, 155, 155, 0.5);
}

.box2 {
    width: 100%;
    height: 100px;
    background: rgba(255, 83, 83, 0.5);
}

.box3 {
    width: 100%;
    height: 100px;
    background: rgba(142, 134, 252, 0.5);
}


/* STILE HEADER */


.header-top-nav {
    background: #eee;
    border-bottom: 2px solid rgb(99, 99, 99);

}

.header-top-nav .languagecontact {
    line-height: 80px;
}

.header-top-nav .login-gethubspot {
    line-height: 80px;
    text-align: right;
    
}

.header-top-nav a {
    padding: 10px;
    margin-top: 10px;
}

.header-bottom-nav {
    line-height: 50px;
    margin-top: 10px;
}

.header-bottom-nav li {
    display: inline-block;
    padding: 20px;
}

.firstmenu li a {
    text-align: right;
    text-decoration: none;
}


.jumbotron {
    height: 600px;
    background: rgb(255, 232, 209);
    padding-top: 80px;
    background-image: url(images/socialmedia.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 40%;
}

.jumbotron .content {
    width: 40%;
    height: 350px;
    
}

.content h1 {
    font-size: 46px;
    font-weight: 1000;
    color: rgb(64, 64, 64);
    margin-bottom: 20px;
}

.content p {
    color: rgb(64, 64, 64);
    line-height: 120%;
    font-size: 19px;
    margin-bottom: 40px;
}

.content #lastquote {
    margin-top: 50px;
    font-size: 14px;
}

.bottom-header {
    height: 80px;
    background: rgba(74, 158, 154, 0.3);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* INFO */
#info {
    background: #ddd;
}

.info-box-full {
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

.powerfultogether {
    text-align: center;
}

.checkedbox {
    font-size: 11px;
}


.powerfultogether h1 {
        font-size: 38px;
        font-weight: 1000;
        color: rgb(64, 64, 64);
        margin-bottom: 20px;
}

.powerfultogether p {
    line-height: 150%;
    margin-bottom: 20px;

}

.freecrm {
    text-align: center;
    line-height: 60px;
   
}

.text-crm h2 {
    font-size: 26px;
    font-weight: 1000;
    color: rgb(64, 64, 64);
    margin-bottom: 20px;
}

.text-crm p {
    font-size: 20px;
    margin-bottom: 20px;
}

.text-crm h3 {
    font-size: 18px;
    font-weight: 1000;
    color: rgb(64, 64, 64);
    margin-bottom: 20px;
}


.info-box-full .col-sx {
    width: 30%;
}

.info-box-full .col-dx {
    width: 70%;
    
}


.info-box-pop-element .info-box-full .col-sx {
    width: 30%
}

.info-box-pop-element .col-dx {
    width: 70%;
    border: 1px solid black;
    line-height: 150%;
    
}

.textcrm-checkedbox {
    margin-top: 20px;
}

/* LEARN */

#learn {
    background: rgb(47,167,201);
    background: linear-gradient(90deg, rgba(47,167,201,1) 0%, rgba(53,176,164,1) 100%);
    }

.h2-learn-span {
    color: white;
    font-size: 34px;
    margin-bottom: 25px;
}

.p-class-learn {
    color: white;
    margin-bottom: 30px;
    font-size: 15px;
}

.learn-boxes h4 {
    color: white;
    font-size: 35px;
}

.learn-boxes p {
    color: white;
}

.learn-square {
    padding: 35px;
}


/* CLIENTS */

#clients {
    width: 1000px;
    margin: 0 auto;
}

#clients .col-sx {
    width: 40%;
}

#clients .col-dx {
    width: 60%;
}

#clients h2 {
    font-size: 42px;
    font-weight: 1000;
    color: rgb(64, 64, 64);
    margin-bottom: 20px;
    text-align: left;
}

#clients p {
    color: rgb(64, 64, 64);
    text-align: left;
    font-size: 16px;
}

/* START */

#start h2 {
    font-size: 28px;
    font-weight: 1000;
    color: rgb(64, 64, 64);
    margin-bottom: 40px;
    margin-top: 30px;
}

#start p {
    color: rgb(64, 64, 64);
    text-align: left;
    font-size: 16px;
    margin-bottom: 80px;
}

#start .littletextstart {
    color: rgb(64, 64, 64);
    text-align: left;
    font-size: 12px;
    margin-bottom: 40px;
    margin-top: 80px;
}

/* FOOTER */

.main-footer {
    background-color: rgb(64, 64, 64);
}


.menu-column {
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu-column h5 {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.menu-column ul {
    list-style: none;
    line-height: 180%;
    text-decoration: none;
}

.menu-column ul li a {
    text-decoration: none;
    color: white;
}

.langmenu-inline ul li a {
    text-decoration: none;
    color: white;
}

.footer-lang-menu {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 10px;
    text-decoration: none;
}   

.footer-lang-menu ul li a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
}

.footer-lang-menu li {
    display: inline-block;
    text-decoration: none;
}

.langmenu {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.logofooter img {
    margin-top: 10px;
}

.lastfootermenu {
    text-align: right;
    
}

.lastfootermenu li {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}

.lastfootermenu ul li a {
    color: white;
    text-decoration: none;
    margin: 0 30px;
    
}


